const [icon, setIcon] = useState<any>(null);

useEffect(() => {
  // Client lo matrame run avthadi
  const L = require('leaflet');
  delete L.Icon.Default.prototype._getIconUrl;
  setIcon(new L.Icon({
    iconUrl: "https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png",
    iconSize: [25, 41],
    iconAnchor: [12, 41]
  }));
}, []);
